body{
    background-color: lightcyan;
    text-align: center;
}

h1{
    text-align: center;
    color: black;
}

h2{
    text-align: center;
    color: black;
}

a{
    text-align:center;
    display:block;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

form {
    display: inline-block;
}